
* {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

body {
  color: white;
	font-family: "Lucida Grande", "Arial";
	font-size: 11px;
	line-height: 150%;
	background: #003343 url(/images/backgrounds/page.jpg) repeat-x top;
}

a {
  color: white;
	text-decoration: none;
  border-bottom: 1px dotted white;
}

a:hover {
  border-bottom: 1px solid white;
}

h1,
h2 {
  text-indent: -9999px;
  background-repeat: no-repeat;
}

h3 {
  margin-top: 5px;
  font-size: 12px;
}

img {
  border: 0px;
}

ul {
  margin-top: 15px;
}

ol {
  margin-top: 10px;
  padding-bottom: 12px;
}

li {
  margin-left: 30px;
}

ol li {
  margin-bottom: 3px;
}

small {
  font-size: 9px;
}

.clear {
  clear: both;
}
