
* {
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

body {
  color: white;
	font-family: "Lucida Grande", "Arial";
	font-size: 11px;
	line-height: 150%;
	background: #003343 url(/images/backgrounds/page.jpg) repeat-x top;
}

a {
  color: white;
  outline-style: none;
	text-decoration: none;
  border-bottom: 1px dotted white;
}

a:hover {
  border-bottom: 1px solid white;
}

h1,
h2 {
  text-indent: -9999px;
  background-repeat: no-repeat;
}

h3 {
  margin-top: 5px;
  font-size: 12px;
}

h4 {
  font-size: 11px;
}

blockquote {
  padding-top: 8px;
  padding-left: 15px;
  font-style: italic;
}

fieldset {
  border: 0px;
}

img {
  border: 0px;
}

ul {
  margin-top: 15px;
}

ol {
  margin-top: 10px;
  padding-bottom: 12px;
}

li {
  margin-left: 30px;
}

ol li {
  margin-bottom: 3px;
}

small {
  font-size: 9px;
}

fieldset legend span {
  width: 200px;
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

fieldset ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

fieldset ol li {
  margin: 0px;
  line-height: 24px;
}

fieldset ol li label {
  width: 100px;
  padding-right: 12px;
  float: left;
  clear: left;
  text-align: right;
}

fieldset ol li input {
  vertical-align: middle;
}

fieldset ol li textarea {
  margin-top: 2px;
}

pre {
  overflow: auto;
  font-family: "Courier New", "Courier";
  font-size: 10px;
}

.clear {
  clear: both !important;
  float: none !important;
}

.fieldWithErrors {
  display: inline !important;
}
