
#page_wrapper {
	width: 875px;
	margin: auto;
	position: relative;
}

#page_wrapper #page_header {
  height: 113px;
  position: relative;
  cursor: pointer;
  background: url(/images/backgrounds/logo.jpg) no-repeat 0px 21px;
  border-bottom: 1px dashed #529796;
}

#page_wrapper #page_header h1,
#page_wrapper #page_header h2 {
  position: absolute;
}

#page_wrapper #page_header h1 {
  top: 30px;
  left: 84px;
  width: 174px;
  height: 74px;
  background-image: url(/images/backgrounds/page_header_beta.jpg);
}

#page_wrapper #page_header h2 {
  top: 70px;
  left: 258px;
  width: 275px;
  height: 12px;
  background-image: url(/images/backgrounds/page_subtitle.jpg);
}

#page_wrapper #page_menu {
  width: 100%;
  margin-top: 1px;
  text-align: center;
  position: absolute;
}

#page_wrapper #page_menu li {
  margin: 0px 8px;
  display: inline;
  list-style: none;
}

#page_wrapper #page_menu li a {
  border: 0px;
}

#page_wrapper #page_content {
  padding: 16px 12px 75px 12px;
}

#page_wrapper #page_content h1,
#page_wrapper #page_content h2 {
  margin-top: 28px;
}

#page_wrapper #page_content h1 {
  height: 28px;
}

#page_wrapper #page_content h2 {
  height: 22px;
}

#page_wrapper #page_content p {
  margin-top: 6px;
}

#page_wrapper #page_content .box {
  margin-top: 4px;
  padding: 8px;
  background-color: #002933 !important;
  border: 1px dashed #529796;
}

#page_wrapper #page_content #primary {
  width: 570px;
  float: left;
}

#page_wrapper #page_content #primary #examples {
  padding: 15px;
}

#page_wrapper #page_content #primary #examples li {
  width: 150px;
  height: 135px;
  margin: 0px;
  padding: 0px 14px 14px 14px;
  float: left;
  list-style: none;
}

#page_wrapper #page_content #primary #examples li a {
  height: 94px;
  padding-bottom: 4px;
  display: block;
  font-size: 21px;
  border: 0px;
}

#page_wrapper #page_content #primary #examples li small {
  padding-left: 2px;
  display: block;
  font-style: italic;
  line-height: 12px;
}

#page_wrapper #page_content #primary .box {
  margin: 4px 0px;
}

#page_wrapper #page_content #primary .code {
  font-family: "Courier New", "Courier";
  font-size: 10px;
}

#page_wrapper #page_content #primary div.code {
  padding-top: 5px;
  padding-bottom: 4px;
  display: block;
}

#page_wrapper #page_content #primary table {
  width: 100%;
  margin-top: 18px;
  margin-bottom: 10px;
  line-height: 15px;
  border-collapse: collapse;
}

#page_wrapper #page_content #primary table th,
#page_wrapper #page_content #primary table td {
  padding-left: 4px;
}

#page_wrapper #page_content #primary table th {
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px dashed #529796;
}

#page_wrapper #page_content #primary table td {
  padding-top: 12px;
}

#page_wrapper #page_content #primary table td p {
  padding-bottom: 5px;
}

#page_wrapper #page_content #primary table td .box {
  margin-top: 5px;
  margin-bottom: 0px;
  padding: 0px 3px;
  border-style: solid;
}

#page_wrapper #page_content #primary table .name,
#page_wrapper #page_content #primary table .default,
#page_wrapper #page_content #primary table .call {
  font-family: "Courier New", "Courier";
}

#page_wrapper #page_content #primary table .name {
  width: 105px;
  font-weight: bold;
}

#page_wrapper #page_content #primary table .default {
  width: 135px;
}

#page_wrapper #page_content #primary table .call {
  width: 240px;
  font-weight: bold;
}

#page_wrapper #page_content #primary #demo {
  margin-top: 10px;
  padding: 28px 35px;
}

#page_wrapper #page_content #primary #demo #toptions div {
  float: left;
  text-align: center;
}

#page_wrapper #page_content #primary #demo #toptions div img {
  display: block;
}

#page_wrapper #page_content #primary #demo #toptions div .submit {
  margin-top: 8px;
}

#page_wrapper #page_content #primary #demo #toptions fieldset {
  width: 292px;
  padding-top: 3px;
  margin: 0px;
  float: right;
}

#page_wrapper #page_content #primary #demo #toptions fieldset.margined {
  margin-bottom: 20px;
}

#page_wrapper #page_content #primary fieldset legend span {
  width: 200px;
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
}

#page_wrapper #page_content #primary fieldset ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#page_wrapper #page_content #primary fieldset ol li {
  margin: 0px;
  line-height: 24px;
}

#page_wrapper #page_content #primary fieldset ol li label {
  width: 100px;
  padding-right: 12px;
  float: left;
  clear: left;
  text-align: right;
}

#page_wrapper #page_content #primary fieldset ol li input {
  vertical-align: middle;
}

#page_wrapper #page_content #primary #comments {
  margin: 26px 0px 0px 0px;
  padding: 0px;
}

#page_wrapper #page_content #primary #comments li {
  width: 530px;
  margin-top: 11px;
  list-style: none;
}

#page_wrapper #page_content #primary #comments li span {
  color: #529796;
}

#page_wrapper #page_content #primary #comments li div {
  width: 145px;
  padding-right: 16px;
  float: left;
  text-align: right;
}

#page_wrapper #page_content #primary #comments li small {
  display: block;
  line-height: 14px;
}

#page_wrapper #page_content #primary #comments li p {
  width: 350px;
  margin: 0px;
  float: left;
}

#page_wrapper #page_content #primary #errorExplanation {
  width: 375px;
  margin-bottom: 15px;
}

#page_wrapper #page_content #primary #errorExplanation h3 {
  margin: 2px 0px 6px 6px;
  font-size: 13px;
}

#page_wrapper #page_content #primary #errorExplanation ul {
  margin: 0px;
}

#page_wrapper #page_content #primary #errorExplanation ul li {
  margin-left: 28px;
  padding-left: 5px;
}

#page_wrapper #page_content #primary #new_comment {
  margin-top: 5px;
}

#page_wrapper #page_content #primary #new_comment label {
  width: 158px;
  text-align: left;
}

#page_wrapper #page_content #primary #new_comment textarea {
  width: 375px;
  height: 125px;
  margin-top: 2px;
  font-family: "Lucida Grande", "Arial";
  font-size: 11px;
}

#page_wrapper #page_content #primary #new_comment small.box {
  width: 365px;
  margin-top: 0px;
  margin-bottom: 6px;
  margin-left: 170px;
  padding: 2px 5px;
  display: block;
  line-height: 11px;
}

#page_wrapper #page_content #primary #new_comment .submit {
  margin-top: 8px;
  margin-left: 170px;
}

#page_wrapper #page_content #secondary {
  width: 240px;
  float: right;
}

#page_wrapper #page_content #secondary .box {
  padding: 10px 13px;
}

#page_wrapper #page_content #secondary .twitter {
  margin-top: 15px !important;
  padding-left: 100px;
  background: url(/images/backgrounds/twitter.jpg) no-repeat 12px 50%;
}

#page_wrapper #page_content #secondary div.github {
  height: 28px;
  margin-bottom: 5px;
  padding-left: 87px;
  line-height: 26px;
  background: url(/images/backgrounds/github.jpg) no-repeat 12px 50%;
}

#page_wrapper #page_content #secondary small.github {
  line-height: 13px;
}

#page_wrapper #page_content #secondary div.license {
  margin-top: 6px;
  padding-top: 33px;
  background: url(/images/backgrounds/license.jpg) no-repeat 40px 0px;
}

#page_wrapper #page_content #secondary div.license small {
  line-height: 13px;
}

#page_wrapper #page_content #secondary .box a.download_top_up {
  width: 211px;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  border: 0px;
}

#page_wrapper #page_content #secondary ul {
  margin-top: 4px;
}

#page_wrapper #page_content #secondary ul li {
  margin-left: 20px;
}
                                                                                                                                           
a.download_top_up {
  background-image: url(/images/text/a-download_top_up.jpg);
}
