<%= h1 "Examples" %>
<p>
  As you probably already read, TopUp is meant to be implemented with great ease.
  The following examples demonstrate how to use the Javascript library for several purposes.
  Please take notice that every purpose can be implemented using several methods.
  Every method is provided with a demo and code for the entire HTML page.
  <br><br>
  Please note that following examples are implemented with the easiest setup: including from http://gettopup.com that is.
  For examples for hosting TopUp yourself, please <%= link_to "download TopUp", "http://gettopup.com/releases/packed/latest.zip" %>.
</p>

<div id="code_examples">
  <% @purposes.each do |k, v| %>
    <%= render :partial => "purpose", :locals => {:purpose     => k,
                                                  :information => v[:information].join(""), 
                                                  :examples    => v[:examples].sort{|a, b| a[:filename].match(/^\d+/).to_s.to_i <=> b[:filename].match(/^\d+/).to_s.to_i}} %>
  <% end %>
</div>