<div id="tracker_service_info">
  <%= h1 "Subscribe as TopUp tracker" %>
  <p>
    This notification service is very handy and actually a must for those of you who host TopUp on your own webserver.
    After every release, you will receive an e-mail in which the direct link and change log (describes bugfixes and new features) of that release is provided.
  </p>
  <p>
    So subscribe yourself as a TopUp tracker and stay up-to-date of the <strong>bugfixes</strong> and features of every TopUp release.
  </p>
</div>