<h1 class="try_it_live">Try it live!</h1>
<p>
  Do you wanna experience the flexibility of TopUp live at the website? Well, here is your lucky day! You can try out the possibilities of TopUp by specifying the toptions below. Enjoy.
</p>

<div id="demo" class="box">
  <% form_remote_tag :url => demonstrate_path do %>
    <%= select_tag "function", options_for_select({"TopUp.display" => "display", "TopUp.close" => "close"}) %> <%= text_field_tag "reference" %> <%= submit_tag "Demonstrate" %>
  <% end %>
  <br>
  <%= link_to image_tag("thumbnails/1.jpg"), "/images/photos/1.jpg", :id => "link" %>
</div>