<h1 class="try_it_live">Try it live!</h1>
<p>
  Do you wanna experience the flexibility of TopUp live at the website? Well, here is your lucky day! You can try out the possibilities of TopUp by specifying the toptions below. Enjoy.
</p>

<div id="demo" class="box">
  Not implemented yet
</div>