<%= h1 "Examples" %>
<p>
  Setting up TopUp for your website requires the least amount of effort. You have the choice of either hosting the javascript and images on your own webserver or you can just
  include the javascript with one line of code and that's it! This has been made possible because TopUp injects the stylesheet code in the webpage. Choosing for the last option gives you the 
  possibility of always being up-to-date with the latest features and bugfixes WITHOUT altering your code!
</p>