<div class="quick_edit">
 <div class="quick_edit_scopes">
   <ul class="scope_buttons">
     <li id="object_details" class="selected">
       <a class="selected">Details</a>
     </li>
   </ul>
   <div class="clear"></div>
 </div>

 <form action="http://localhost:3000/betty/1-relaties/objects/update_multiple" class="quick_edit_form"
id="object_form" method="post" onsubmit="new Ajax.Request('http://localhost:3000/betty/1-relaties/objects
/update_multiple', {asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return false
;"><div style="margin:0;padding:0"><input name="_method" type="hidden" value="put" /><input name="authenticity_token"
type="hidden" value="Q37i+Z9tHqEl/KDuRIt9d3t4CuIxGRl5cOVcKsPec+c=" /></div>

   <input id="selected_items" name="selected_items" type="hidden" value="6,7" />

 	<ul id="used_components" style="min-height: 10px">

		



     <input class="view_component_selector" id="component_133" name="component_133" style="margin-top
: 6px; float: left" type="checkbox" value="133" /><div class='input_item' id='view_component_133' style
='padding-left: 20px'><label for='object_email_address'>E-mailadres</label>
 <input class="text_field" id="object_email_address" name="object[email_address]" size="30" style=""
type="text" />
</div>






     <input class="view_component_selector" id="component_2" name="component_2" style="margin-top: 6px
; float: left" type="checkbox" value="2" /><div class='input_item' id='view_component_2' style='padding-left
: 20px'><label for='object_first_name'>Voornaam</label>
 <input class="text_field" id="object_first_name" name="object[first_name]" size="30" style="" type
="text" />
</div>









	
	<input class="view_component_selector" id="component_131" name="component_131" style="margin-top: 6px
; float: left" type="checkbox" value="131" /><div class='input_item' id='view_component_131' style='padding-left
: 20px'><label for='object_gender_name'>Gender</label>
		<select id="object_gender_id" name="object[gender_id]" onchange=""><option value=""></option>
<option value="1">Man</option>
<option value="2">Vrouw</option></select>
	</div>







     <input class="view_component_selector" id="component_1" name="component_1" style="margin-top: 6px
; float: left" type="checkbox" value="1" /><div class='input_item' id='view_component_1' style='padding-left
: 20px'><label for='object_company_name'>Bedrijfsnaam</label>
 <input class="text_field" id="object_company_name" name="object[company_name]" size="30" style="" type
="text" />
</div>






     <input class="view_component_selector" id="component_3" name="component_3" style="margin-top: 6px
; float: left" type="checkbox" value="3" /><div class='input_item' id='view_component_3' style='padding-left
: 20px'><label for='object_insertion'>Tussenvoegsel</label>
 <input class="text_field" id="object_insertion" name="object[insertion]" size="30" style="" type="text"
/>
</div>






     <input class="view_component_selector" id="component_4" name="component_4" style="margin-top: 6px
; float: left" type="checkbox" value="4" /><div class='input_item' id='view_component_4' style='padding-left
: 20px'><label for='object_last_name'>Achternaam</label>
 <input class="text_field" id="object_last_name" name="object[last_name]" size="30" style="" type="text"
/>
</div>






     <input class="view_component_selector" id="component_6" name="component_6" style="margin-top: 6px
; float: left" type="checkbox" value="6" /><div class='input_item' id='view_component_6' style='padding-left
: 20px'><label for='object_phone_number'>Telefoon</label>
 <input class="text_field" id="object_phone_number" name="object[phone_number]" size="30" style="" type
="text" />
</div>






     <input class="view_component_selector" id="component_7" name="component_7" style="margin-top: 6px
; float: left" type="checkbox" value="7" /><div class='input_item' id='view_component_7' style='padding-left
: 20px'><label for='object_fax_number'>Fax</label>
 <input class="text_field" id="object_fax_number" name="object[fax_number]" size="30" style="" type
="text" />
</div>






     <input class="view_component_selector" id="component_8" name="component_8" style="margin-top: 6px
; float: left" type="checkbox" value="8" /><div class='input_item' id='view_component_8' style='padding-left
: 20px'><label for='object_mobile_number'>Mobiel</label>
 <input class="text_field" id="object_mobile_number" name="object[mobile_number]" size="30" style=""
type="text" />
</div>






     <input class="view_component_selector" id="component_473" name="component_473" style="margin-top
: 6px; float: left" type="checkbox" value="473" /><div class='input_item' id='view_component_473' style
='padding-left: 20px'><label for='object_account_number'>Account number</label>
 <input class="text_field" id="object_account_number" name="object[account_number]" size="30" style
="" type="text" />
</div>






     <input class="view_component_selector" id="component_474" name="component_474" style="margin-top
: 6px; float: left" type="checkbox" value="474" /><div class='input_item' id='view_component_474' style
='padding-left: 20px'><label for='object_account_name'>Account name</label>
 <input class="text_field" id="object_account_name" name="object[account_name]" size="30" style="" type
="text" />
</div>






     <input class="view_component_selector" id="component_475" name="component_475" style="margin-top
: 6px; float: left" type="checkbox" value="475" /><div class='input_item' id='view_component_475' style
='padding-left: 20px'><label for='object_account_type'>Account type</label>
 <input class="text_field" id="object_account_type" name="object[account_type]" size="30" style="" type
="text" />
</div>







 <input class="view_component_selector" id="component_302" name="component_302" style="margin-top: 6px
; float: left" type="checkbox" value="302" />


   <div class='input_item'id='view_component_302' style='padding-left: 20px'>
   <label for='object_is_wnt'>Is Waarnaartoe klant</label>


	<select id="object_is_wnt" name="object[is_wnt]"><option value=""></option>
<option value="1">yes</option>
<option value="0">no</option></select>


   </div>






	
</ul>



   <div class="controls">
   	<div class="left">
       <input name="commit" onclick="this.disabled = true; this.value = 'Saving...'; disableUnselectedViewComponents
(); this.form.onsubmit(); enableUnselectedViewComponents(); return false" type="submit" value="Save"
/>&nbsp;
   	</div>
   	<div style="clear: both"></div>
   </div>
	</form>
	
	


</div>
