<ul id="page_menu">
  <li><%= link_to image_tag("/images/text/a-home#{"_selected" if request.path == root_path}.jpg"), root_path %></li>
  <li><%= link_to image_tag("/images/text/a-documentation#{"_selected" if request.path == documentation_path}.jpg"), documentation_path %></li>
  <li><%= link_to image_tag("/images/text/a-demo#{"_selected" if request.path == demo_path}.jpg"), demo_path %></li>
</ul>
<div class="clear"></div>