<div id="tu_overlay" style="display: none"></div>
<%= render :partial => "layouts/tu_top_up", :locals => {:id => "top_up"} %>
<%= render :partial => "layouts/tu_top_up", :locals => {:id => "temp_up"} %>
<table id="tu_center_wrapper" style="display: none">
  <tr valign="middle">
    <td id="tu_centered_content" align="center">
      <!-- tu_top_ups -->      
    </td>
  </tr>
</table>